<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />

	<link rel="stylesheet" type="text/css" href="{% static 'css/default.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Arvo&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">

    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="white-container">
        <h3>The Incredulity of Older Generations Only Adds to the Issue</h3>
        <section id="opinion-section">
            {% for o in opinions %}
            <p>{{o.body}}</p>
            {% endfor %}
        </section>
    </div>
</body>
</html>